.main-con {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}
/* HTML: <div class="loader"></div> */
.loader {
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: cornflowerblue;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
  }
  @keyframes l27 {
    100% {transform: rotate(1turn)}
  }

  .loading-con {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
  }




.logo-con {
    padding: .6rem 0;
}
.logo-con > a {
    text-decoration: none;
    color: inherit;
}
.link-con> a {
    text-decoration: none;
    color : inherit;
    margin: 0 5px;
    font-size: 1.1rem;
    font-weight: 650;
}
.link-con > a.active {
    color:cornflowerblue;
}
.logo-con > a > h2 {
    margin: 0;
}
.ham-icon {
    display: inline-block;
    width: 40px;
    cursor: pointer;
}
.login-info-con {
    font-size: .8rem;
    font-weight: 600;
}

.nav-con > a {
    text-decoration: none;
    color: inherit;
}
.postItem-con {
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.31);
}
.postItem-con > a > img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.info-con > h2,.info-con > p {
    margin: 0;
    padding: 4px 0;
}
.info-con {
    padding: 1rem;
}
.info-con > p {
    color: gray;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .6rem;
}
.single-container > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.single-container {
    padding: 3rem 0;
}
.single-container > h3, .single-container > p {
    margin: 0;
    padding: 5px 0;
}
.single-container > p {
    padding: 1rem 0;
    font-size: 1rem;
    color: gray;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .8rem;
}
.single-container > h3 {
    font-size: 1.3rem;
}
.clockIcon, .arroIcon {
    width: 20px;
    height: 20px;
}
.top-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-con > a {
    color: inherit;
    text-decoration: none;
}
.form-con > h2 {
    text-align: center;
    font-size: 2rem;
}
.form-con {
    max-width: 500px;
    width: 70%;
    margin:  0 auto;
    padding: 3rem 0;
}
.form-input > label {
    font-size: .9rem;
    font-weight: 700;
}

.form-input {
    margin: 1rem 0;
}
.form-input > input {
    width: 100%;
    margin: .5rem 0;
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.72);
    border: none;
    border-radius: 5px;
    padding: 5px 1rem;
    font-size: 1rem;
    height: 30px;
}
.form-input > input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(153,247,255,0.62);
}
.form-input > textarea {
    width: 100%;
    padding: 1rem;
    height: 120px;
    font-size: 1rem;
    margin: .5rem 0;
    border-radius: 5px;
    resize: none;
    border: none;
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.72);
}
.form-input > textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(153,247,255,0.62);
}
.post-btn {
    width: 107%;
    background-color: cornflowerblue;
    color: white;
    padding: 6px 0;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.arrow-con {
    width: 30px;
}
.title-con {
    margin: 1rem 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-con > h2 {
    margin:  0;
}
.btn-con {
    display: flex;
    gap: 1rem;
}
.edit {
    color: green;
    border: 2px solid green;
}
.btn-con > a {
    text-decoration: none;
    color: inherit;
}
.btn {
    font-size: .8rem;
    padding: 4px 1.4rem;
    border-radius: 5px;
    cursor: pointer;
}
.postItem-container {
    display: grid;
    gap: 1rem;
}
.delete {
    color: red;
    border: 2px solid red;
}
.error-con {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    /* max-width: 500px;
    margin: auto; */
}

.error {
    text-align: center;
}
.error > h2  {
    margin: 0;
    font-size: 2rem;
}
.info-con > h2 {
    font-size: 1.1rem;
}
.error > a {
    text-decoration: none;
    color: inherit;
}

.logo-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.link-container {
    height: 0;
    overflow: hidden;
    transition: all .3s;
}
.error > a > p {
    background-color: cornflowerblue;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 2px;
    padding: 3px 1rem;
    font-weight: 600;
    display: inline-block;
}
.nav-con {
    padding: 1rem 3rem;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.31);
}
.postItem-container {
    padding: 2rem 0;
    display: grid;
}

.link-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.error-icon {
    width: 200px;
}
.error-p {
    color: red;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 2px 0;
}
.form-con > h2 {
    font-size: 1.3rem;
}

@media screen and (min-width : 500px) {
    .btn {
        font-size: .9rem;
    }
    .single-container > img {
        height: 300px;
    }
    .form-con > h2 {
        font-size: 1.7rem;
    }
    .form-input > label {
        font-size: 1rem;
    }
    .btn {
        font-size: 1rem;
    }
   
}


@media screen and (min-width : 700px) {
.postItem-container {
    gap: 1rem ;
    grid-template-columns: repeat(2,1fr);
}
.form-con > h2 {
    font-size: 2rem;
}
.form-input > label {
    font-size: 1.2rem;
}


.single-container > img {
    height: 400px;
}
.nav-con {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.31);
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
}
.link-container {
    flex: 0 0 40%;
}

.link-con {
    display: flex;
    gap: 0;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.ham-icon {
    display: none;
}
.link-container {
    height: auto !important;
}
.btn {
    font-size: 1.2rem;
}
.login-info-con {
    font-size: 1rem;
    font-weight: 600;
}

}


